body {
    font-family: Arial, sans-serif;
}

#end-chat-button {
    color: white;
    background-color: #E41F13;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

#chatbot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #d91313;
    color: white;
    border-radius: 50%;
    border: none;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    display: block; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#chatbot-button.hidden {
    display: none !important;
}

.hidden {
    display: none !important;
}

.modal {
    display: none; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegurar que el modal esté por encima del resto */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-buttons button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.modal-buttons button:hover {
    background-color: #0056b3;
}


#chatbot-container {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: scale(0);
    opacity: 0;
}

#chatbot-container.visible {
    transform: scale(1);
    bottom: 20px; 
    opacity: 1;
}

.chatbot-controls {
    display: flex;
    gap: 10px;
}
 #send-button{
    background-color: #d91313;

 }

.chatbot-controls i {
    cursor: pointer;
    font-size: 18px;
    color: white; 
}

#chatbot-container.minimized {
    height: 40px;
    overflow: hidden;
}

#chatbot-header {
    background-color: #d91313;
    color: white;
    padding: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    font-weight: bold;
    display: flex; /* Utiliza flexbox para alinear los elementos */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Alinea los elementos verticalmente al centro */
}

#chatbot-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: white;
}

#chatbot-messages div {
    margin: 10px 0;
    display: flex;
}

.chat-message {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    line-height: 1.5;
    word-wrap: break-word;
    overflow-wrap: break-word; /* Add this line */
    word-break: break-word; /* Add this line */
    hyphens: auto; /* Add this line */
    width: fit-content;
    
}

#chatbot-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 10px;
    background-color: white;
}

#chatbot-options button {
    padding: 4px;
    background-color: white;
    color: red;
    border: 1px solid red; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    display: block; 
}

#chatbot-input {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    z-index: 999 !important;
}

#chatbot-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none; /* Asegura que no se vea un borde de enfoque no deseado */
    box-sizing: border-box; /* Hace que el padding se incluya en el tamaño total del input */
    width: 100%; /* Asegura que el input ocupe todo el ancho disponible */
    cursor: text; /* Muestra el cursor de texto para que sea más evidente que es un campo de entrada */
}

#chatbot-input button {
    margin-left: 10px;
    padding: 10px;
    background-color: #d91313;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.typing-indicator {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.typing-indicator span {
    height: 10px;
    width: 10px;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
}

.typing-indicator span:nth-of-type(1) {
    animation: 1s blink infinite 0.3333s;
}

.typing-indicator span:nth-of-type(2) {
    animation: 1s blink infinite 0.6666s;
}

.typing-indicator span:nth-of-type(3) {
    animation: 1s blink infinite 0.9999s;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

/* Estilos para el mensaje emergente */
#toast-message {
    position: fixed;
    bottom: 90px;
    right: 20px;
    background-color: #d91313;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 998 !important;
}

#toast-message.show {
    opacity: 1;
}

.product-results {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.product-results p {
    margin: 5px 0;
}

.user-message {
    background-color: #d91313; /* Color de fondo para el usuario */
    color: white;
    align-self: flex-end; /* Alinea a la derecha */
    border-bottom-right-radius: 0;
    margin-left: auto; /* Asegura que el mensaje se alinee a la derecha */
}

.chatbot-message {
    align-self: flex-start; /* Alinea a la izquierda */
    border-bottom-left-radius: 0;
    background-color: #f4f4f4;
}

.user-message-container {
    display: flex;
    justify-content: flex-end; /* Alinea el mensaje del usuario a la derecha */
    margin: 10px 0; /* Ajusta el margen según sea necesario */
}

.chatbot-message-container {
    display: flex;
    justify-content: flex-start; /* Alinea el mensaje del chatbot a la izquierda */
    margin: 10px 0; /* Ajusta el margen según sea necesario */
  
    
}