<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Popup</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chatbot/css/chatbot.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <div id="chatbot-button" onclick="toggleChat()">💬</div>

    <div id="chatbot-container">
        <div id="confirmation-modal" class="modal">
            <div class="modal-content">
                <p>¿Desea terminar y borrar todo su chat?</p>
                <div class="modal-buttons">
                    <button id="confirm-yes">Sí</button>
                    <button id="confirm-no">No</button>
                </div>
            </div>
        </div>
        <div id="chatbot-header">
            <span>Chatbot S21</span>
            <div class="chatbot-controls">
                <i id="minimize-chat" class="fas fa-minus" onclick="toggleChat()"></i>
                <i id="close-chat" class="fas fa-times" onclick="endChat()"></i>
            </div>
        </div>
        <div id="chatbot-messages">
            <!-- Mensajes se cargarán aquí -->
        </div>
       
        <div id="chatbot-options">
            <button onclick="sendOption('Horarios')">Horario</button>
            <button onclick="sendOption('Ubicación')">Ubicación</button>
            <button onclick="sendOption('Contacto')">Contacto</button>
            <button onclick="sendOption('Ser Cliente')">Ser Cliente</button>
            <button onclick="sendOption('Políticas')">Políticas</button>
            <button onclick="sendOption('Garantías')">Garantías</button>

        </div>

        <!-- <button id="end-chat-button" onclick="endChat()">FINALIZAR CHAT</button> -->

        <div id="chatbot-input" onclick="focusInput()">
            <input type="text" id="user-message" placeholder="Escribe un mensaje..." onkeydown="handleKey(event)">
            <button id="send-button" type="button" onclick="sendMessage()">        
                <i class="fas fa-paper-plane"></i>
            </button>
        </div>
    </div>
    <div id="toast-message">¡Hola! Estoy aquí para resolver tus dudas sobre Siglo 21 </div>
    <script src="{% static 'chatbot/js/chatbot.js' %}"></script>
</body>
</html>
