<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Popup</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chatbot/css/chatbot.css' %}">

</head>
<body>
    <div id="chatbot-button" onclick="toggleChat()">💬</div>

    <div id="chatbot-container">
        <div id="chatbot-header">
            Chatbot S21
        </div>
        <div id="chatbot-messages">
            <!-- Mensajes se cargarán aquí -->
        </div>
       
        <div id="chatbot-options">
            <button onclick="sendOption('Horario')">Horario</button>
            <button onclick="sendOption('Ubicación')">Ubicación</button>
            <button onclick="sendOption('Contacto')">Contacto</button>
            <button onclick="sendOption('Ser Cliente')">Ser Cliente</button>
            <button onclick="sendOption('Políticas')">Políticas</button>
        </div>
        <button id="end-chat-button" onclick="endChat()">FINALIZAR CHAT</button>

        <div id="chatbot-input" onclick="focusInput()">
            <input type="text" id="user-message" placeholder="Escribe un mensaje..." onkeydown="handleKey(event)">
            <button id="send-button" onclick="sendMessage()">Enviar</button>
        </div>
    </div>
    <div id="toast-message">Hola, puedo responder todas las dudas que tengas.</div>
    <script src="{% static 'chatbot/js/chatbot.js' %}"></script>
</body>
</html>
